<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.4/phpunit.xsd"
         backupGlobals="true"
         colors="true"
         verbose="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="true"
         stopOnSkipped="true"
         stopOnRisky="true">
    <testsuites>
        <testsuite name="Sellbrite SDK Unit Tests">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Sellbrite SDK Integration Tests">
            <directory>./tests/Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./coverage" highLowerBound="85" />
        <log type="coverage-clover" target="./coverage.xml" />
    </logging>
</phpunit>
